<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elancier.healthzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/v3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".SSCredit_List"></activity>
        <activity android:name=".Network_Activation" />
        <activity android:name=".Pin_Service_Board" />
        <activity android:name=".Point_List" />
        <activity android:name=".Termsconditions" />
        <activity
            android:name=".Super_saver"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Notifications_List" />
        <activity
            android:name=".Complaint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offline_video"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewSignup"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Welcome_report" />
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Super_Salry_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".star_perf_history"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Super_Salary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Online_training"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Forgot_Activity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Reward_reduce"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Monthly_report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Daterequest_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Vip_new_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Vip_ClientAdd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity android:name=".Reward_history" />
        <activity android:name=".SalesPointNew" />
        <activity android:name=".Customers" />
        <activity
            android:name=".PinShareDialogActivity"
            android:excludeFromRecents="true"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            &lt;!&ndash; ressource file to create &ndash;&gt;
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />

        </provider>
        -->
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ThankYou" />
        <activity
            android:name=".MyPortal"
            android:label="@string/title_activity_my_portal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyInfo"
            android:label="@string/My_Info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MySponsor"
            android:label="@string/My_Sponsor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BankDetails"
            android:label="@string/My_Bank_Details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DirectTeam"
            android:label="@string/My_Direct_Team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IbvReports"
            android:label="@string/IBV_Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GbvReports"
            android:label="@string/GBV_Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BonusReports"
            android:label="@string/Bonus_Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrawReports"
            android:label="@string/Withdraw_Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrimeTreeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddPrimeTreeUser"
            android:label="Add New User"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StockList"
            android:label="Stocks"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SalesPoint"
            android:label="Sales"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddCustomerActivity"
            android:label="Sales"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Sales_report"
            android:label="Sales Reports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PassbookActivity"
            android:label="E-Passbook"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PurchaseReport"
            android:label="Purchase Reports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GeneologyTree"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PurchaseDetails"
            android:label="Purchase Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PurchaseQuotation"
            android:label="Purchase Quotation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveFillBonus"
            android:label="Live Fill Bonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Live"
            android:label="Live"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BinaryTreeActivity"
            android:label="@string/title_activity_binary_tree"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AddBinaryTreeUser"
            android:label="Add New User"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SponsorBonusActivity"
            android:label="@string/title_activity_sponsor_bonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PairMatchBonus"
            android:label="Pair Match Bonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BinaryPointsActivity"
            android:label="Point Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BinaryPinActivity"
            android:label="Pin Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrimeSuperPinActivity"
            android:label="Pin Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrimeBonusActivity"
            android:label="Pin Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OverAllBonusActivity"
            android:label="Overall Bonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AutoWithdrawActivity"
            android:label="Auto Withdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FillBonusActivity"
            android:label="Auto Withdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTree"
            android:label="Auto Withdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionTree"
            android:label="Auto Withdraw"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Wallet"
            android:label="Wallet"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Commission"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Videoimage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Videoimage2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rewardpoints"
            android:parentActivityName=".HomePage"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyCompatTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Tableview"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Common.ImagePickerActivity" />
        <activity
            android:name=".Admin_reports"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coupon_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Payment_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Save_Video" />
        <activity android:name=".New_wallet_List" />
        <activity android:name=".New_recharge_List" />
        <activity android:name=".CMD_GOLD_history" />
        <activity
            android:name=".CMD_GOLD_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CMD_SILVER_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CMD_SILVER_history" />
        <activity android:name=".Updatehist_List" />
        <activity android:name=".New_recharge_List_Dup" />
        <activity android:name=".PROM_BOX_history" />
        <activity
            android:name=".Prom_BOX_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Super_Business_Man"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Super_Teamleader_history" />
        <activity android:name=".Super_business_Man_history" />
        <activity
            android:name=".Super_TeamLeadaer_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Crorepathi_recharge" />
        <activity
            android:name=".Crore_Salary_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Crore_Salary_history" />
        <activity
            android:name=".Front_VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NSP_Wallet"
            android:label="Wallet"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NSP_PROM_BOX_List" />
        <activity
            android:name=".NSP_Prom_BOX_FORM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NSP_Redeem_Wallet" />
        <activity android:name=".CameraActivity" />
        <!--
<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>
        -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2cf58fa1592260823b25e9bf6059cf22754d63eb" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_v3_removebg_preview" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@elancier-solutions" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--
<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.elancier.healthzone"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        -->
        <!-- uCrop cropping activity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".netlistener.services.netlisten"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Common.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>